body {
    background: #fff4ea;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
    overflow: auto;
    font-variant: small-caps;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 10vh;
    gap: 5%;
    background: #7eacb5;
    color: #fff4ea;
    align-items: center;
    position: fixed;
    top: 0;
}

.options {
    display: flex;
    width: 25vw;
    justify-content: space-evenly;
}

.scale {
    background: #fadfa1;
    border: none;
    -o-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-inline: 1vw;
    text-align: center;
    font-size: 2.5vh;
    font-weight: bold;
    color: #c96868;
}

.compBtn {
    background: #c96868;
    border: none;
    text-align: center;
    font-size: 2.5vh;
    font-weight: bold;
    color: #fadfa1;
}

.compBtn:hover {
    cursor: pointer;
    outline: 2px solid #fadfa1;
}

.scale:hover {
    cursor: pointer;
    outline: 2px solid #c96868;
}

.title:link,
.title:visited,
.title:hover,
.title.active {
    font-size: 3vh;
    text-decoration: none;
    color: #fff4ea;
    margin-left: 14vw;
}

.title:hover {
    cursor: pointer;
}

.details {
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 25vw;
    position: fixed;
    top: 10vh;
    left: 0;
    background: black;
    opacity: 20%;
    justify-content: center;
}

.details p {
    margin-left: 2vw;
    color: white;
    font-size: 2.5vh;
    text-shadow:
        2px 2px 4px rgba(0, 0, 0, 1),
        -2px -2px 4px rgba(0, 0, 0, 1),
        2px -2px 4px rgba(0, 0, 0, 1),
        -2px 2px 4px rgba(0, 0, 0, 1);
}
